# ---> VisualStudioCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/
**/[bB]uild/

**/.lock-waf_linux2_build
Pokemon/Gen 1-7 OV SPrites*
Pokemon/Output*
**/__pycache__/*
Pokemon/Gen1/gen1-watchface/node_modules/.package-lock.json
Pokemon/Gen1/gen1-watchface/node_modules/pebble-clay/dist.zip
Pokemon/Gen1/gen1-watchface/node_modules/pebble-clay/index.js
Pokemon/Gen1/gen1-watchface/node_modules/pebble-clay/LICENSE
Pokemon/Gen1/gen1-watchface/node_modules/pebble-clay/package.json
Pokemon/Gen1/gen1-watchface/node_modules/pebble-clay/README.md
Pokemon/Gen1/gen1-watchface/node_modules/pebble-clay/dist/binaries/aplite/libpebble-clay.a
Pokemon/Gen1/gen1-watchface/node_modules/pebble-clay/dist/binaries/basalt/libpebble-clay.a
Pokemon/Gen1/gen1-watchface/node_modules/pebble-clay/dist/binaries/chalk/libpebble-clay.a
Pokemon/Gen1/gen1-watchface/node_modules/pebble-clay/dist/binaries/diorite/libpebble-clay.a
Pokemon/Gen1/gen1-watchface/node_modules/pebble-clay/dist/binaries/emery/libpebble-clay.a
Pokemon/Gen1/gen1-watchface/node_modules/pebble-clay/dist/include/pebble-clay/message_keys.auto.h
Pokemon/Gen1/gen1-watchface/node_modules/pebble-clay/dist/include/pebble-clay/aplite/src/resource_ids.auto.h
Pokemon/Gen1/gen1-watchface/node_modules/pebble-clay/dist/include/pebble-clay/basalt/src/resource_ids.auto.h
Pokemon/Gen1/gen1-watchface/node_modules/pebble-clay/dist/include/pebble-clay/chalk/src/resource_ids.auto.h
Pokemon/Gen1/gen1-watchface/node_modules/pebble-clay/dist/include/pebble-clay/diorite/src/resource_ids.auto.h
Pokemon/Gen1/gen1-watchface/node_modules/pebble-clay/dist/include/pebble-clay/emery/src/resource_ids.auto.h
Pokemon/Gen1/gen1-watchface/node_modules/pebble-clay/dist/js/index.js
Pokemon/Gen1/gen1-watchface/node_modules/pebble-clay/src/config-page.html
Pokemon/Gen1/gen1-watchface/node_modules/pebble-clay/src/images/example.png
Pokemon/Gen1/gen1-watchface/node_modules/pebble-clay/src/js/index.js
Pokemon/Gen1/gen1-watchface/node_modules/pebble-clay/src/scripts/config-page.js
Pokemon/Gen1/gen1-watchface/node_modules/pebble-clay/src/scripts/components/button.js
Pokemon/Gen1/gen1-watchface/node_modules/pebble-clay/src/scripts/components/checkboxgroup.js
Pokemon/Gen1/gen1-watchface/node_modules/pebble-clay/src/scripts/components/color.js
Pokemon/Gen1/gen1-watchface/node_modules/pebble-clay/src/scripts/components/footer.js
Pokemon/Gen1/gen1-watchface/node_modules/pebble-clay/src/scripts/components/heading.js
Pokemon/Gen1/gen1-watchface/node_modules/pebble-clay/src/scripts/components/index.js
Pokemon/Gen1/gen1-watchface/node_modules/pebble-clay/src/scripts/components/input.js
Pokemon/Gen1/gen1-watchface/node_modules/pebble-clay/src/scripts/components/radiogroup.js
Pokemon/Gen1/gen1-watchface/node_modules/pebble-clay/src/scripts/components/select.js
Pokemon/Gen1/gen1-watchface/node_modules/pebble-clay/src/scripts/components/slider.js
Pokemon/Gen1/gen1-watchface/node_modules/pebble-clay/src/scripts/components/submit.js
Pokemon/Gen1/gen1-watchface/node_modules/pebble-clay/src/scripts/components/text.js
Pokemon/Gen1/gen1-watchface/node_modules/pebble-clay/src/scripts/components/toggle.js
Pokemon/Gen1/gen1-watchface/node_modules/pebble-clay/src/scripts/lib/clay-config.js
Pokemon/Gen1/gen1-watchface/node_modules/pebble-clay/src/scripts/lib/clay-events.js
Pokemon/Gen1/gen1-watchface/node_modules/pebble-clay/src/scripts/lib/clay-item.js
Pokemon/Gen1/gen1-watchface/node_modules/pebble-clay/src/scripts/lib/component-registry.js
Pokemon/Gen1/gen1-watchface/node_modules/pebble-clay/src/scripts/lib/manipulators.js
Pokemon/Gen1/gen1-watchface/node_modules/pebble-clay/src/scripts/lib/utils.js
Pokemon/Gen1/gen1-watchface/node_modules/pebble-clay/src/scripts/vendor/autoprefixify.js
Pokemon/Gen1/gen1-watchface/node_modules/pebble-clay/src/scripts/vendor/minified.js
Pokemon/Gen1/gen1-watchface/node_modules/pebble-clay/src/styles/_clay.scss
Pokemon/Gen1/gen1-watchface/node_modules/pebble-clay/src/styles/config-page.scss
Pokemon/Gen1/gen1-watchface/node_modules/pebble-clay/src/styles/clay/_base.scss
Pokemon/Gen1/gen1-watchface/node_modules/pebble-clay/src/styles/clay/_fonts.scss
Pokemon/Gen1/gen1-watchface/node_modules/pebble-clay/src/styles/clay/_mixins.scss
Pokemon/Gen1/gen1-watchface/node_modules/pebble-clay/src/styles/clay/_reset.scss
Pokemon/Gen1/gen1-watchface/node_modules/pebble-clay/src/styles/clay/_vars.scss
Pokemon/Gen1/gen1-watchface/node_modules/pebble-clay/src/styles/clay/components/button.scss
Pokemon/Gen1/gen1-watchface/node_modules/pebble-clay/src/styles/clay/components/checkboxgroup.scss
Pokemon/Gen1/gen1-watchface/node_modules/pebble-clay/src/styles/clay/components/color.scss
Pokemon/Gen1/gen1-watchface/node_modules/pebble-clay/src/styles/clay/components/input.scss
Pokemon/Gen1/gen1-watchface/node_modules/pebble-clay/src/styles/clay/components/radiogroup.scss
Pokemon/Gen1/gen1-watchface/node_modules/pebble-clay/src/styles/clay/components/select.scss
Pokemon/Gen1/gen1-watchface/node_modules/pebble-clay/src/styles/clay/components/slider.scss
Pokemon/Gen1/gen1-watchface/node_modules/pebble-clay/src/styles/clay/components/submit.scss
Pokemon/Gen1/gen1-watchface/node_modules/pebble-clay/src/styles/clay/components/toggle.scss
Pokemon/Gen1/gen1-watchface/node_modules/pebble-clay/src/styles/clay/elements/_button.scss
Pokemon/Gen1/gen1-watchface/node_modules/pebble-clay/src/templates/components/button.tpl
Pokemon/Gen1/gen1-watchface/node_modules/pebble-clay/src/templates/components/checkboxgroup.tpl
Pokemon/Gen1/gen1-watchface/node_modules/pebble-clay/src/templates/components/color.tpl
Pokemon/Gen1/gen1-watchface/node_modules/pebble-clay/src/templates/components/footer.tpl
Pokemon/Gen1/gen1-watchface/node_modules/pebble-clay/src/templates/components/heading.tpl
Pokemon/Gen1/gen1-watchface/node_modules/pebble-clay/src/templates/components/input.tpl
Pokemon/Gen1/gen1-watchface/node_modules/pebble-clay/src/templates/components/radiogroup.tpl
Pokemon/Gen1/gen1-watchface/node_modules/pebble-clay/src/templates/components/select.tpl
Pokemon/Gen1/gen1-watchface/node_modules/pebble-clay/src/templates/components/slider.tpl
Pokemon/Gen1/gen1-watchface/node_modules/pebble-clay/src/templates/components/submit.tpl
Pokemon/Gen1/gen1-watchface/node_modules/pebble-clay/src/templates/components/text.tpl
Pokemon/Gen1/gen1-watchface/node_modules/pebble-clay/src/templates/components/toggle.tpl
